//@import "less/lib/bootstrap/bootstrap";
//@import "less/lib/font-awesome/font-awesome";
//@import "less/lib/prefixer";
@import "http://images.stltoday.com/mds/00003794/content/css/normalize.css";
@import "http://images.stltoday.com/mds/00003769/content/css/bootstrap.min.css";
@import "less/lib/swiper/swiper";



// Global variables
// @img-root: "../img";
// this is where you put stuff that is used in other places


// General styles


	.left {
		font-family: Tahoma, Arial, Helvetica, sans-serif !important;
		font-size: 13px !important;
		line-height: 18px !important;
	}

	.nav>li>a {
		padding: 10px 6px 11px;
	}

	.tags h3 {
		font-size: 14px;
		margin: 0px;
	}

	/*
	body {
		font: 13px Helmet, Freesans, sans-serif;
	}

	*/

	.asset-description {
		display: none;
	}


	.asset h1, #interactive-wrapper h1 {
		font-family: 'Montserrat', Georgia, serif;
		font-size: 7rem !important;
		text-align: center;
	}


	#interactive-wrapper {
		font-family: 'PT Serif', Georgia, serif;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 1.5rem;
	}



	#interactive-wrapper .index-image {
		margin-bottom: 2rem;
	}

	#interactive-wrapper .caption p {
		font-family: 'Montserrat', Georgia, serif;
	}


	#interactive-wrapper p.intro, p.signature, p.instructions {
		font-family: 'PT Serif', Georgia, serif;
		font-size: 1.5rem !important;
		line-height: 2.5rem;
		text-align: left;
		margin: 1rem 6rem;
	}

	#interactive-wrapper p.signature {
		font-style: italic;
		margin-bottom: 2rem;
	}

	#interactive-wrapper p.intro strong {
		font-weight: 700;
	}

	#interactive-wrapper p.instructions {
		text-align: center;
		text-transform: uppercase;
	}


	#interactive-wrapper .topic {
		width: 100%;
		position: relative;
		margin: 0px;
	}

	#interactive-wrapper .topic.black h2, #interactive-wrapper .topic.black .swiper-container {
		background-color: #171a1c;
		color: #eee;
	}

	#interactive-wrapper .topic.white h2, #interactive-wrapper .topic.white .swiper-container {
		background-color: #eee;
		color: #171a1c;
	}


	#interactive-wrapper .topic .swiper-container, #interactive-wrapper .topic .pagination {
		display: none;
	}

	#interactive-wrapper .topic.active .swiper-container, #interactive-wrapper .topic.active .pagination {
		display: block;
	}


	#interactive-wrapper .topic h2 {
		font-family: 'Montserrat', Georgia, serif;
		font-size: 3.5rem;
		line-height: 7.5rem;
		height: 7.5rem;
		margin: 0px;
		padding: 0px;
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
	}

	#interactive-wrapper .topic h2:hover {
		cursor: hand;
		cursor: pointer;
	}

	#interactive-wrapper .swiper-container, #interactive-wrapper .swiper-slide {
		width: 100%;
		height: 41vh;
	}

	#interactive-wrapper .swiper-slide {
		padding: 0px 6rem 0 6rem;
		display: block;
	}

	#interactive-wrapper .swiper-content {
		display: block;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-60%);
		-ms-transform: translateY(-60%);
		transform: translateY(-60%);
	}



	#interactive-wrapper .swiper-slide h3, 	#interactive-wrapper .swiper-slide p {
		max-width: 900px;
		margin: 0px auto;
		text-align: center;
		font-size: 2.333rem;
	}

	#interactive-wrapper .swiper-slide h3 {
		font-family: 'PT Serif', Georgia, serif;
		font-style: italic;
		margin-top: 1.5rem;
	}

	#interactive-wrapper .swiper-slide p.short {
		font-size: 3rem;
	}
	#interactive-wrapper .swiper-slide p.long {
		font-size: 2rem;
		letter-spacing: -0.01em;
	}

	#interactive-wrapper .pagination {
		position: absolute;
		z-index: 20;
		bottom: 2vh;
		left: 0;
		right: 0;
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}


	#interactive-wrapper .swiper-pagination-switch {
		display:inline-block;
		width:8px;
		height:8px;
		border-radius:8px;
		background:#555;
		margin:0px 5px 0px 0px;
		opacity:0.8;
		border:1px solid #fff;
		cursor:pointer;
		}

	#interactive-wrapper .swiper-active-switch {
		background:#fff;
	}


	#interactive-wrapper .topic.white .swiper-pagination-switch {
		-webkit-filter: invert(100%);
		-moz-filter: invert(100%);
		filter: invert(100%);
	}

	#interactive-wrapper .arrow-left, #interactive-wrapper .arrow-right {
		background: url(../images/arrows.png) no-repeat left top;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -15px;
		width: 17px;
		height: 30px;
	}

	#interactive-wrapper .arrow-left:hover, #interactive-wrapper .arrow-right:hover {
		cursor: hand;
		cursor: pointer;
	}

	#interactive-wrapper .topic.white .arrow-left, #interactive-wrapper .topic.white .arrow-right {
		-webkit-filter: invert(100%);
		-moz-filter: invert(100%);
		filter: invert(100%);
	}


	#interactive-wrapper .arrow-right {
		left: auto;
		right: 10px;
		background-position: left bottom;
	}



	/*--------------------------------------------------------------*/
	/* MOBILE ONLY */
	/* targets older iPhones */

	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#interactive-wrapper .swiper-container, #interactive-wrapper .swiper-slide {
			width: 100%;
			height: 85vh;
		}
	}




	/*--------------------------------------------------------------*/
	/* MOBILE ONLY */
	/* targets iPhone 5s */

	@media only screen and (min-width : 320px) and (max-width : 568px) {

		#interactive-wrapper h1 {
			font-family: 'Montserrat', Georgia, serif;
			font-size: 3.5rem !important;
			text-align: center;
		}

		#interactive-wrapper p.intro, p.signature, p.instructions {
			font-family: 'PT Serif', Georgia, serif;
			font-size: 1.5rem !important;
			line-height: 2.25rem;
			text-align: left;
			margin: 1rem 1rem;
		}

		#interactive-wrapper .topic h2 {
			font-family: 'Montserrat', Georgia, serif;
			font-size: 2.25rem;
			line-height: 5.25rem;
			height: 5.25rem;
			margin: 0px;
			padding: 0px;
			display: block;
			width: 100%;
			text-align: center;
			position: relative;
		}

		#interactive-wrapper .swiper-container, #interactive-wrapper .swiper-slide {
			width: 100%;
			height: 75vh;
		}

		#interactive-wrapper .swiper-slide {
			padding: 0px 1rem 0 1rem;
		}

		#interactive-wrapper .pagination p {
			font-family: 'Montserrat', Georgia, serif;
			margin: 0;
			text-align: center;
		}


		// #interactive-wrapper .swiper-content {
		// 	display: block;
		// 	position: relative;
		// 	top: 50%;
		// 	-webkit-transform: translateY(-50%);
		// 	-ms-transform: translateY(-50%);
		// 	transform: translateY(-50%);
		// }


		#interactive-wrapper .swiper-slide h3, 	#interactive-wrapper .swiper-slide p {
			font-size: 1.6rem;
		}

		#interactive-wrapper .swiper-slide p.short {
			font-size: 2rem;
		}
		#interactive-wrapper .swiper-slide p.long {
			font-size: 1.33rem;
			letter-spacing: -0.015em;
		}

	}



	/*--------------------------------------------------------------*/
	/* DESKTOP ONLY */

	@media only screen and (min-width : 930px) and (max-height:700px) {

		#interactive-wrapper .swiper-slide h3, 	#interactive-wrapper .swiper-slide p {
			font-size: 1.5rem;
		}
	}


	@media only screen and (min-width : 930px) and (max-height:900px) {

		#interactive-wrapper .swiper-slide h3, 	#interactive-wrapper .swiper-slide p {
			font-size: 1.8rem;
		}

	}


