<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ COPY.content.project_name }}</title>

	<!-- META TAGS -->
	{% include '_meta.html' %}

	<!-- FONTS -->
	{% include '_fonts.html' %}

	<!-- CSS -->
	{{ CSS.push('less/app.less') }}
	{% block extra_css %}{% endblock extra_css %}
	{{ CSS.render('css/app.min.css') }}

	{% block extra_head %}
	{% endblock extra_head %}
</head>
<body class="prettify">

	{% block outer_content %}
	<!-- this is where nav code would go -->

	{% block header_content %}
	{% endblock header_content %}

	{% block content %}
	<h1>{{ COPY.content.project_name }}</h1>
	App content goes here.

	{% endblock content %}


	<footer>
		<!-- this is where footer code would go -->
	</footer>

	{% endblock outer_content %}


	{{ JS.push('js/lib/jquery.js') }}
	{{ JS.push('js/lib/underscore.js') }}
	{{ JS.push('js/lib/modernizr.js') }}
	{{ JS.push('js/lib/bootstrap.js') }}
	{{ JS.push('js/lib/jsprettify-all-latest.js') }}
	{{ JS.push('js/lib/swiper.js') }}
	{{ JS.push('js/lib/jquery.scrollTo.min.js') }}

	{{ JS.push('js/app.js') }}
	{% block extra_foot_js %}{% endblock extra_foot_js %}
	{{ JS.render('js/app-footer.min.js') }}

	{% block extra_foot %}
	{% endblock extra_foot %}

</body>
</html>
