{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
<div id="interactive-wrapper" class="container prettify">

<div class="index-image">
	<img width="100%" src="images/ferguson-solutions-header2.png" />
	<div class="caption">
		<p>Illustration by Dan Martin</p>
	</div>
</div>

<h1>{{ COPY.content.project_name }}</h1>

<p class="intro prettify">{{ COPY.content.intro }}</p>
<p class="signature">&mdash; {{ COPY.content.byline }}</p>


	{% for topic in COPY.topics %}
	<div class="topic {{ loop.cycle('white', 'black') }}">
		<h2>{{topic.topic}}</h2>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for row in COPY.solutions if row.topic == topic.slug %}
				<div class="swiper-slide">
					<div class="swiper-content">
					<p class="idea">{{ row.solution }}</p>
					<h3 class="name">{{ row.name }}, {{ row.age }}, {{ row.location }} </h3>
					</div><!--swiper-content-->
				</div> <!--swiper-slide-->
				{% endfor %}
			</div> <!--swiper-wrapper-->
			<div class="pagination"></div>
			<div class="arrow-left"></div>
			<div class="arrow-right"></div>
		</div><!--swiper-container-->
	</div><!--topic-->
	{% endfor %}


</div><!--interactive-wrapper-->


{% endblock %}


